* {
    margin: 0px;
    font-family: 'inter';
}

#topmenu {
    background-image: url(./images/background-topmenu.svg);
    color: white;
}

#logo {
    margin: 50px 0px 0px 50px;
}

#title-topmenu {
    margin: 50px 0px 0px 150px;
}

#text-topmenu {
    margin: 35px 0px 0px 150px;
    padding: 0px 0px 100px 0px;
}

#informatinalmenu {
    background-color: #EAECE5;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

#informatinalmenu .icons {
    margin: 50px 0px 50px 100px;
    padding: 25px;
}

#informatinalmenu .informativetext {
    display: flex;
    align-items: center;
}

#videosession {
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

#title-videosession {
    color: #247BA0;
    margin: 50px 0px 0px 0px;
}

#video {
    margin: 50px 25px 50px 100px;
}

#carousel {
    background-color: #247BA0;
    padding: 50px;
}

#title-carousel {
    color: white;
    text-align: center;
    font-size: 25px;
}

#divcards {
    margin: 25px 0px 0px 0px;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

#carousel .cards {
    margin: 0px 0px 0px 30px;
}

#leftarrow {
    display: none;
}

#samantha {
    display: none;
}

#carousel .arrows {
    margin-top: 55%;
    cursor: pointer;
}

#carousel #rightarrow:hover {
    transform: translateX(7px);
    transition-duration: 0.5s;
}

#carousel #leftarrow:hover {
    transform: translateX(-7px);
    transition-duration: 0.5s;
}

#formsession {
    text-align: center;
    margin: 25px;
    color: #383838;
}

#title-form {
    font-size: 25px;
}

#formsession input {
    width: 300px;
    height: 40px;
    background-color: #EAECE5;
    margin: 15px;
    border: 0px;
    border-radius: 5px;
    padding: 0px 0px 0px 10px;
}

#formsession button {
    background-color: #247BA0;
    height: 40px;
    width: 250px;
    color: #EAECE5;
    border: 0px;
    border-radius: 5px;
    margin: 0px 0px 50px 0px;
    font-weight: bolder;
    cursor: pointer;
}

#formsession button:hover {
    background-color: #318fb8;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0px 15px 20px 0px #05103081;
    transition-duration: 0.5s;
}

@media(max-width: 780px) {

    #logo {
        margin: 30px 0px 0px 30px;
    }

    #title-topmenu {
        width: 75%;
        margin: 30px 0px 0px 40px;
        font-size: 22px;
    }

    #text-topmenu {
        width: 75%;
        margin: 30px 0px 0px 40px;
        font-size: 12px;
    }

    #informatinalmenu {
        display: grid;
        grid-auto-flow: row;
        padding: 0px 0px 0px 60px;
    }

    #informatinalmenu .icons {
        margin: 50px 0px 50px 0px;
        padding: 5px;
    }

    #videosession {
        display: grid;
        grid-auto-flow: row;
    }

    #video {
        width: 250px;
        height: 144px;
        margin: 30px 0px 0px 50px;
    }

    #text-videosession {
        width: 55%;
        margin-left: 60px;
        font-size: 11px;
    }

    #carousel {
        display: none;
    }

    #formsession {
        text-align: center;
        margin: 5px;
        color: #383838;
    }

    #title-form {
        font-size: 20px;
        margin: 20px 0px 25px 25px;
        width: 80%;
    }

    #formsession input {
        width: 250px;
        height: 40px;
        display: block;
        margin: 0px 0px 0px 40px;
        border: 0px;
        border-radius: 5px;
        padding: 0px 0px 0px 10px;
    }

    #formsession button {
        display: block;
        margin: 0px 0px 50px 45px;
        font-weight: bolder;
        cursor: pointer;
    }
}
